modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Story.CV Server"

[[workflows.workflow]]
name = "Story.CV Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Update Sitemap"
author = 43771092
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python generate_sitemap.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32801
externalPort = 3001

[[ports]]
localPort = 36269
externalPort = 3000

[agent]
expertMode = true
